.header {
    display: flex;
    align-items: center;
    position: relative;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#ancor-mgn {
    margin-left: 10px;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.logo {
    width: 150px;
    margin-left: 10px;
}

